/* Write your CSS here */
.container {
  background-color: #07080c;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: roboto;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.accelerate-btn {
  color: #ffffff;
  background-color: #0b69ff;
  border: 0px solid;
  border-radius: 2px;
  padding: 5px;
  margin-right: 20px;
}

.brake-btn {
  color: #94a3b8;
  border: 2px solid #cbd5e1;
  border-radius: 2px;
  padding: 5px;
}
